legend {
    background-color: #000;
    color: #fff;
    padding: 3px 6px;
}

input {
    margin: 0.4rem;
}

table {
  border-collapse: seperate;
  border-radius: 10px;
  table-layout: fixed;
  width:500px;  
}
table tr 
{
    border-radius: 10px;
}

table tr td
{
    border: 1px solid #744700;
    border-radius: 10px;
}
th {
  padding: 8px;
  text-align: left;
}
td {
  padding: 8px;
  text-align: center;
width: 80%;
}
body {
  margin: 0;
}

#holder {
  display: none;
  }

.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #000;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
.patientresource {
	position: relative;
    display: block;  
    background-color: #799d4b;
    margin-bottom: 15px;
    color: #fff;  
	height: 100%;
	text-align: center;
	}

.patientresource h2 {
	color: #fec72c;
	z-index: 3;
	margin: 0px;
	font-size: 24px;
	font-weight: 400;
}

.patientresource tr:hover {background-color: #ddd;}


.observationresource {
	position: relative;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: block;  
    background-color:#CD853F ;
    margin-bottom: 15px;
    color: #FFF8DC;  
	height: 100%;
	text-align: center;
	}
.observationresource h2 {
	color: #fec72c;
	z-index: 3;
	margin: 0px;
	font-size: 24px;
	font-weight: 400;
}

.observationresource tr:hover {background-color: #ddd;}

div.card {
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

div.header {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  font-size: 40px;
}

div.container {
  padding: 10px;
}
